.sidebar{

  width: 250px;
  height: 100vh;

  background:
    linear-gradient(
      180deg,
      #06101f 0%,
      #081423 100%
    );

  border-right:
    1px solid rgba(255,255,255,0.04);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 24px 16px;

  position: fixed;
  left: 0;
  top: 0;
}

/* topo */

.sidebar-top{

  display: flex;
  flex-direction: column;
}

/* logo */

.logo-area{

  display: flex;
  justify-content: center;

  padding: 10px 0 30px 0;
}

.logo{

  width: 130px;

  opacity: 0.95;
}

/* menu */

.menu{

  display: flex;
  flex-direction: column;

  gap: 6px;
}

/* item */

.menu-item{

  height: 52px;

  border-radius: 14px;

  display: flex;
  align-items: center;

  gap: 14px;

  padding: 0 16px;

  text-decoration: none;

  color: #94a3b8;

  transition: 0.2s ease;

  position: relative;
}

/* hover */

.menu-item:hover{

  background:
    rgba(255,255,255,0.03);

  color: #e2e8f0;
}

/* ativo */

.menu-item.active{

  background:
    rgba(37,99,235,0.10);

  color: white;
}

/* barrinha */

.menu-item.active::before{

  content: '';

  position: absolute;

  left: 0;
  top: 12px;

  width: 3px;
  height: 28px;

  border-radius: 10px;

  background: #3b82f6;
}

/* icone */

.menu-icon{

  font-size: 17px;

  width: 22px;

  display: flex;
  justify-content: center;
}

/* label */

.menu-label{

  font-size: 14px;
  font-weight: 500;
}

/* footer */

.sidebar-footer{

  padding-top: 20px;

  border-top:
    1px solid rgba(255,255,255,0.05);
}

/* logout */

.logout-button{

  width: 100%;
  height: 50px;

  border: none;

  border-radius: 14px;

  background:
    transparent;

  color: #94a3b8;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 0 16px;

  font-size: 14px;
  font-weight: 500;

  cursor: pointer;

  transition: 0.2s;
}

.logout-button:hover{

  background:
    rgba(239,68,68,0.08);

  color: #f87171;
}


.menu-icon{

  font-size: 20px;

  width: 20px;
  height: 20px;

  color: inherit;

  opacity: 0.9;
}